<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <button class="btn-mobile-menu-close" type="button">
      <svg class="btn-mobile-menu-close-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link accent-color" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#how-made">How it’s made?</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#review">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-menu-social-list">
      <li class="mobile-menu-social-list-item">
        <a class="mobile-menu-social-list-link" href="">
          <svg class="mobile-menu-social-list-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-list-item">
        <a class="mobile-menu-social-list-link" href="">
          <svg class="mobile-menu-social-list-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
