<section class="how-made" id="how-made">
  <div class="container">
    <h2 class="how-made-title section-title">
      hOW IT’S <span class="accent-color">made?</span>
    </h2>
    <div class="how-made-content-wrapper">
      <img
        class="how-made-img"
        src="../../img/how-made/hot-chocolate.jpg"
        alt="hot chocolate"
        width="600"
        height="400"
      />
      <div class="how-made-text-wrapper">
        <h3 class="how-made-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-made-list">
          <li class="how-made-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
