<section class="ingredients">
  <div class="container ingredients-container">
    <h2 class="ingredients-title section-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="accent-color">TASTE</span> SENSATION
    </h2>
    <p class="ingredients-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="ingredients-list">
      <li class="ingredients-list-item">
        <picture>
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/milk-chocolate-desktop.webp    1x,
              ./img/ingredients/milk-chocolate-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/milk-chocolate-desktop.png    1x,
              ./img/ingredients/milk-chocolate-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/milk-chocolate-tablet-mobile.webp    1x,
              ./img/ingredients/milk-chocolate-tablet-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/milk-chocolate-tablet-mobile.png    1x,
              ./img/ingredients/milk-chocolate-tablet-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/ingredients/milk-chocolate-desktop.png"
            alt="milk chocolate"
          />
        </picture>

        <h3 class="ingredients-list-title">mILK CHOCOLATE</h3>
        <div class="ingredients-overlay">
          <h3 class="ingredients-overlay-title">Milk chocolate</h3>
          <ul class="ingredients-overlay-list">
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-primary"
            >
              Milk chocolate
            </li>
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-secondary"
            >
              the benefits
            </li>
          </ul>
          <p class="ingredients-overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="ingredients-list-item">
        <picture>
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/milk-desktop.webp    1x,
              ./img/ingredients/milk-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/milk-desktop.png    1x,
              ./img/ingredients/milk-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/milk-tablet-mobile.webp    1x,
              ./img/ingredients/milk-tablet-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/milk-tablet-mobile.png    1x,
              ./img/ingredients/milk-tablet-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img src="./img/ingredients/milk-desktop.png" alt="milk chocolate" />
        </picture>
        <h3 class="ingredients-list-title">Milk</h3>
        <div class="ingredients-overlay">
          <h3 class="ingredients-overlay-title">Milk</h3>
          <ul class="ingredients-overlay-list">
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-primary"
            >
              Milk
            </li>
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-secondary"
            >
              the benefits
            </li>
          </ul>
          <p class="ingredients-overlay-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="ingredients-list-item">
        <picture>
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/nuts-desktop.webp    1x,
              ./img/ingredients/nuts-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/nuts-desktop.png    1x,
              ./img/ingredients/nuts-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/nuts-tablet-mobile.webp    1x,
              ./img/ingredients/nuts-tablet-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/nuts-tablet-mobile.png    1x,
              ./img/ingredients/nuts-tablet-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img src="./img/ingredients/nuts-desktop.png" alt="nuts" />
        </picture>

        <h3 class="ingredients-list-title">nuts</h3>
        <div class="ingredients-overlay">
          <h3 class="ingredients-overlay-title">Nuts</h3>
          <ul class="ingredients-overlay-list">
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-primary"
            >
              Nuts
            </li>
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-secondary"
            >
              the benefits
            </li>
          </ul>
          <p class="ingredients-overlay-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="ingredients-list-item">
        <picture>
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/semi-sweet-chocolate-desktop.webp    1x,
              ./img/ingredients/semi-sweet-chocolate-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1168px)"
            srcset="
              ./img/ingredients/semi-sweet-chocolate-desktop.png    1x,
              ./img/ingredients/semi-sweet-chocolate-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/semi-sweet-chocolate-tablet-mobile.webp    1x,
              ./img/ingredients/semi-sweet-chocolate-tablet-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1167px)"
            srcset="
              ./img/ingredients/semi-sweet-chocolate-tablet-mobile.png    1x,
              ./img/ingredients/semi-sweet-chocolate-tablet-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/ingredients/semi-sweet-chocolate-desktop.png"
            alt="nuts"
          />
        </picture>

        <h3 class="ingredients-list-title">sEMI - SWEET CHOCOLATE</h3>
        <div class="ingredients-overlay">
          <h3 class="ingredients-overlay-title">semi - sweet chocolate</h3>
          <ul class="ingredients-overlay-list">
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-primary"
            >
              sweet chocolate
            </li>
            <li
              class="ingredients-overlay-list-item ingredients-overlay-list-item-secondary"
            >
              the benefits
            </li>
          </ul>
          <p class="ingredients-overlay-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
