<section class="review" id="review">
  <div class="container">
    <h2 class="review-title section-title">
      <span class="accent-color">chocolate</span> is loved
    </h2>
    <ul class="review-list">
      <li class="review-list-item">
        <img
          class="review-list-img"
          src="./img/review/victoria-dobrzhanska.jpg"
          alt="avatar Victoria Dobrzhanska"
          width="80"
          height="80"
        />
        <h3 class="review-list-title">Victoria Dobrzhanska</h3>
        <p class="review-list-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-list-item">
        <img
          class="review-list-img"
          src="./img/review/nazar-babenko.jpg"
          alt="avatar Nazar Babenko"
          width="80"
          height="80"
        />
        <h3 class="review-list-title">Nazar Babenko</h3>
        <p class="review-list-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-list-item">
        <img
          class="review-list-img"
          src="./img/review/olena-kampusch.jpg"
          alt="avatar Olena Kampusch"
          width="80"
          height="80"
        />
        <h3 class="review-list-title">Olena Kampusch</h3>
        <p class="review-list-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button class="review-btn" type="button">Leave a review</button>
  </div>
</section>
