.page-footer {
  padding: 50px 0 62px 0;
  background-color: #1e1823;
  color: #fff;
}
.page-footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.page-footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.page-footer-contacts {
  font-size: 14px;
}
.contacts-text {
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contacts-list-link {
  line-height: 1.29;
  letter-spacing: -0.02em;
}
