body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#1e1823 0%, #fd9222 100%);
  border-radius: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 367px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.text-italic {
  font-style: italic;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.accent-color {
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}
